<div
  style="
    border: 1px solid red;
    height: 420px;
    display: flex;
    flex-direction: column;
  "
>
  <div style="height: 60px">2222</div>
  <div style="flex: 1; overflow: hidden">
    <dv-digital-flop [config]="config" style="display: block"></dv-digital-flop>
  </div>
</div>
<dv-border-box12 class="content"></dv-border-box12>
<dv-border-box13 class="content"></dv-border-box13>
<dv-border-box1 class="content"></dv-border-box1>
<dv-border-box2 [colors]="['red', 'blue']" class="content"></dv-border-box2>
<dv-border-box3 class="content"></dv-border-box3>
<dv-border-box4 class="content"></dv-border-box4>
<dv-border-box5 [colors]="['red', 'blue']" class="content"></dv-border-box5>
<dv-border-box6 class="content"></dv-border-box6>
<dv-border-box7 class="content"></dv-border-box7>

<dv-decoration1 style="width: 100px; height: 30px"></dv-decoration1>
